#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  transition: transform 0.5s ease;
}

#hero > h1 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Playfair Display";
}
#hero > p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
#hero > button {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px black solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#hero > button > span {
  font-weight: normal;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#hero > button > i {
  margin-left: 3px;
  font-size: 18px;
}