@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #3b65be;
    --white-color: #ffffff;
    --disabled-color: #fff3;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}

nav a.btns {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 4rem;
    display: none;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

/* .home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 9s linear infinite;
    animation-delay: calc(-3s * var(--i));
}

@keyframes display-text {
        33.33%, 100% {
        display:none;
        }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    animation: fil-text 3s linear infinite;
}

@keyframes fil-text {
    10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
} */

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 700;        
    margin-top: -1rem;       
    line-height: 1;
    /* color: #111827;  */
    font-family: "Poppins", sans-serif;
}

.home-detail h2 .static-text {
    display: inline-block;
    vertical-align: middle; 
}

.home-detail h2 .typing-text {
    color: var(--main-color);
    border-right: 0.2rem solid var(--main-color); /* Cursor effect */
    display: inline-block;
    vertical-align: middle;   /* Align baseline with static */
    font-weight: 700;
    padding-right: 0.2ch;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    min-width: 0ch;           /* Prevent layout shift */
    user-select: none;
    animation: blink-caret 1s linear infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent; 
    }
}


.home-detail p {
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}

.home-detail .btn-sci{
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci {
    margin-left: 2rem;
}

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 100rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: 0.01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-container .services-box {
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-box .icon i {
    font-size: 4.5rem;   
    transition: .5s;
}

.services-box:hover .icon:not(a i) {
    color: var(--main-color);
}

.services-box .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.services-box:hover .icon a {
    background: var(--main-color);
}

.services-box .icon a i {
    font-size: 3rem;
    color: var(--bg-color);
    transform: rotate(225deg);
    transition: .5s;
}

.services-box .icon a:hover i {
    transform: rotate(180deg);
}

.services-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.6rem;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 4.5rem;
}

.resume-box p {
    font-size: 1.6rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: .5s;
}

.resume-box .resume-btn.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-box .heading {
    font-size: 3.5rem;
    text-align: left;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.resume-list .resume-item {
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--main-color)
}

.resume-item h3 {
    font-size: 2.2rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}